*{
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.img-responsive{
  width: 20%;
  height: 20%;
}
.img-curve{
  border-radius: 15px;
}

.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-white{
  color: white;
}

.clearfix{
  clear: both;
  float: none;
}

a{
  color: #ff6b81;
  text-decoration: none;
}
a:hover{
  color: #ff4757;
}

h2{
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3{
  font-size: 1.5rem;
}
.float-container{
  position: relative;
}
.float-text{
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset{
  background-color: lightblue;
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/* for Order Section */
.order{
  width: 50%;
  margin: 0 auto;
}
.input-responsive{
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label{
  margin-bottom: 1%; 
  font-weight: bold;
}

.green-msg{
  background-color: lightgreen;
  color: green;
}
.red-msg{
  background-color: rgb(233, 168, 168);
  color: red;

}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
  .menu ul{
      text-align: center;
  }

  .med-order input[type="search"]{
      width: 90%;
      padding: 2%;
      margin-bottom: 3%;
  }

  .med-order{
      padding: 10% 0;
  }

  .categories{
      padding: 20% 0;
  }
  h2{
      margin-bottom: 10%;
  }
  .box-3{
      width: 100%;
      margin: 4% auto;
  }

  .med-menu{
      padding: 20% 0;
  }

  .med-menu-box{
      width: 90%;
      padding: 5%;
      margin-bottom: 5%;
  }
  .order{
      width: 100%;
  }
}